<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JayData - @(String.IsNullOrEmpty(ViewBag.Title) ? "Example site for JayData JavaScript library to create enterprise-grade data centric, HTML5/hybrid applications":ViewBag.Title)</title>

    @{
        //TODO: 2 description tag lesz al-Layout használatánál
        Html.RenderPartial("_IncludeMeta");
        //Html.RenderPartial("_IncludeStyles");
        //Html.RenderPartial("_IncludeScripts");

        Html.RenderPartial("_IncludeFavIcon");
        Html.RenderPartial("_IncludeIeFix");
    }
    @Html.Raw(Model.GlobalIncludesString)
    @RenderSection("Header", false)
</head>
<body>
    <div class="wrapper">
        @{
            Html.RenderPartial("_IncludeTopMenu");
        }

        <section class="main-content">
            @RenderSection("Tags", false)
            @RenderSection("MainBody", false)
        </section>
        @RenderBody()

        <div class="push"></div>
    </div>

    @{
        Html.RenderPartial("_IncludeFooter");
        Html.RenderPartial("_IncludeGoogleAnalytics");
    }
</body>
</html>
