@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Header {
    @RenderSection("Meta", false)
    @RenderSection("Includes", true)

    <link rel="stylesheet" href="/Plugins/prettyphoto/css/prettyPhoto.css" />
    <script src="/Plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>

    <script>
        $(document).ready(function () {
            if ($.fn.prettyPhoto !== undefined) {
                $(".pretty-gallery a").prettyPhoto({
                    theme: 'dark_square', /*'pp_default', light_rounded / dark_rounded / light_square / dark_square / facebook */
                    social_tools: '',
                    slideshow: false,
                    autoplay_slideshow: false
                });
            }
        });
    </script>
}

@{
    Html.RenderPartial("_IncludeBreadcrumb");
}

@section MainBody {
    <div class="container main-body">
        <div class="row-fluid">
            <div class="span8">
                <div class="detail well well-white ohidden">
                    @RenderSection("Title", false)

                    @RenderSection("Tags", false)

                    @RenderSection("Description", false)

                    @RenderSection("SourceCode", false)
                </div>
                <div class="bg-dark-grid clear">
                    <h3>Screenshots</h3>
                </div>
                @RenderSection("Gallery", false)
            </div>
            <div class="span4 widget">
                @RenderSection("SupportedBrowsers", false)

                @RenderSection("SimilarContents", false)
            </div>
        </div>
        <div class="row-fluid new-row">
            <div class="span6 code-source">
                <div class="bg-dark-grid">
                    <h3>Source Code</h3>
                </div>
                @RenderSection("CodeSource", false)
            </div>
            <!--**************************************** RUNNING CODE START HERE ****************************************-->
            <div class="span6 code-running">
                <div class="bg-dark-grid">
                    <h3>Running Example</h3>
                </div>
                @RenderSection("CodeRunning", false)
            </div>
            <!--******************************************* RUNNING CODE END *******************************************-->
        </div>
    </div>
}
