@model JayDataExamples.App_Code.Example
@{ Layout = "~/Views/Shared/_Layout.cshtml";
   var hasCodeBlock = IsSectionDefined("CodeSource");
   var runningCodeCss = hasCodeBlock ? "span6 code-running" : "span12 code-running";
   ViewBag.Title = string.IsNullOrEmpty(ViewBag.Title) ? Model.Title : ViewBag.Title;
}

@section Header {
    @if (IsSectionDefined("Meta"))
    {
        @RenderSection("Meta", false)
    }
    else
    {
        <meta name="keywords" content="@Model.MetaKeyWords" />
        <meta name="description" content="@Model.MetaDescription" />
    }
    @if (IsSectionDefined("Includes"))
    {
        @RenderSection("Includes", true)
    }
    else
    {
        @Html.Raw(Model.IncludesString);
    }
}

@section SubHeader {
    @{ Html.RenderPartial("_IncludeBreadcrumb"); }
}

@section MainBody {
    <div class="container main-body">
        <div class="row-fluid">
            <div class="span8 detail well well-white main-title-container">
                @if (IsSectionDefined("Title"))
                {
                    @RenderSection("Title", false)
                }
                else
                {
                    <h1>@ViewBag.Title</h1>
                }
                @if (IsSectionDefined("Tags"))
                {
                    @RenderSection("Tags")
                }
                else
                {
                    Html.RenderPartial("_IncludeTags");
                }
                @if (IsSectionDefined("Description"))
                {
                    @RenderSection("Description", false)
                }
                else
                {
                    <p class="main-desc">
                        @Html.Raw(Model.Description)
                    </p>
                }
                @if (IsSectionDefined("SourceCode"))
                {
                    @RenderSection("SourceCode", false)
                }
                else
                {
                    Html.RenderPartial("_IncludeDownloadableSource");
                }
            </div>

            <div class="span4 widget">
                @if (IsSectionDefined("SupportedBrowsers"))
                {
                    @RenderSection("SupportedBrowsers", false)
                }
                else
                {
                    Html.RenderPartial("_IncludeSupportedBrowsers");
                }
                @if (IsSectionDefined("SimilarContents"))
                {
                    @RenderSection("SimilarContents", false)
                }
                else
                {
                    Html.RenderPartial("_IncludeRelatedContents");
                }
            </div>
        </div>
        @if (Model.GalleryImages != null || IsSectionDefined("Gallery"))
        {<div class="row-fluid new-row">
            <div class="span12">
                <div class="bg-dark-grid clear">
                    <h3>Screenshots</h3>
                </div>
                @if (IsSectionDefined("Gallery"))
                {
                    @RenderSection("Gallery", false)
                }
                else
                {
                    <div class="well well-white">
                        <div class="pretty-gallery">
                            <ul class="pretty-gallery">
                                @foreach(System.Xml.XmlNode node in Model.GalleryImages){
                                    <li><a href="@node.Attributes["url"].Value" rel="prettyPhoto[pp_gal]"><img src="@node.Attributes["thumbUrl"].Value" alt="@node.Attributes["alt"].Value" /></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
        }
        <div class="row-fluid new-row">
            @if (hasCodeBlock)
            {
                <div class="span6 code-source">
                    <div class="bg-dark-grid">
                        <h3>Source Code</h3>
                    </div>
                    @RenderSection("CodeSource", false)
                    <script>
                        setTimeout(function () {
                            CodeMirror.fromTextArea(document.getElementById('code'), {
                                mode: 'text/html',
                                lineNumbers: false
                            });
                        });
                    </script>
                </div>
            }
            <!--**************************************** RUNNING CODE START HERE ****************************************-->
            <div class="@runningCodeCss">
                <div class="bg-dark-grid">
                    <h3>Running Example</h3>
                </div>
                @RenderSection("CodeRunning", false)
            </div>
            <!--******************************************* RUNNING CODE END *******************************************-->
        </div>
    </div>
}
