@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Header {
    @RenderSection("Meta", false)
    @RenderSection("Includes", true)
}

@section MainBody {
    <div class="container">
        <header class="jumbotron masthead">
            <div class="inner tacenter">
                @RenderSection("Title", false)
                @RenderSection("SupportedBrowsers", false)
            </div>
        </header>

        <div class="tacenter">
            @RenderSection("Code", false)
        </div>
    </div>
}
